<html lang="en">
<head>
  <%- include("includes/head", { title: "About" }) %>
</head>
<body style="background-color: #55a02d;">
  <%- include("includes/header", { req }) %>
  <br>
  <img src="/static/img/icon.png" alt="Yoshiboi18303's Avatar" class="avatar">
  <h1>About Yoshiboi18303</h1>
  <p class="about">Yoshiboi18303 is a 14-year-old Bot developer, gamer, and server moderator from the United States. He has been developing bots for 1+ years (from the time of writing this), and plays games like Rocket League, Fortnite, Roblox, etc. He's always happy to develop something for someone (if it's within his developing range), and is always happy to run a couple games with someone (if he has that specific game). He currently moderates these servers: <a href="https://discord.gg/nPcQyVg5CV" class="server-link" target="_blank" rel="noreferrer">Discord Lists</a>, <a href="https://discord.gg/kVSzQnHZVC" class="server-link" target="_blank" rel="noreferrer">BoatSpace</a>, etc. He always does what he can to help someone, but can roast you in a matter of seconds if he feels like it. And... that's it for now! Please feel free to go and check out his social media and stuff!</p>
  <br>
  <%- include("includes/footer") %>
</body>
</html>