<html lang="en">
<head>
  <%- include("includes/head", { title: "Bots" }) %>
</head>
<body style="background-image: url('images/background.png'); background-repeat: no-repeat; background-size: 125%; background-color: #55a02d">
  <%- include("includes/header", { req }) %>
  <br>
  <img src="/static/img/icon.png" alt="Yoshiboi18303's Avatar" class="avatar">
  <h1>Developed Bots</h1>
  <h3 class="description">These are all the bots Yoshiboi18303 has developed that are still active and public.</h3>
  <br>
  <div class="developed-bots">
    <div class="bot">
      <a href="https://images.yoshiboi18303.tk/Moderation_Man.png" target="_blank" rel="noreferrer">
        <img src="/static/img/modman_main.png" alt="Moderation Man Avatar" class="bot-avatar" type="image/png">
      </a>
      <br>
      <h2 class="bot-title">Moderation Man</h2>
      <h3 class="description">A bot made for a safer Discord server</h3>
      <br>
      <div class="bot-buttons">
        <button class="bot-button" onclick="location.href='https://bit.ly/37EDpGa'">Invite</button>
        <button class="bot-button" onclick="location.href='https://moderation-man.ml'">Website</button>
      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>