<html lang="en">
<head>
  <%- include("includes/head", { title: "Music" }) %>
</head>
<body style="background-image: url('images/background.png'); background-repeat: no-repeat; background-size: 125%; background-color: #55a02d">
  <%- include("includes/header", { req }) %>
  <br>
  <img src="/static/img/icon.png" alt="Yoshiboi18303's Avatar" class="avatar">
  <h1>Yoshiboi18303's Music!</h1>
  <h3 class="description">Here are all the songs that Yoshiboi18303 has made!</h3>
  <br>
  <div class="audio-view">
    <div class="song">
      <h2 class="song-name">Our Future Club</h2>
      <a href="https://cdn.yoshiboi18303.tk/OFC.png" target="_blank" rel="noreferrer">
        <img src="/static/img/covers/OFC.png" alt="Our Future Club cover art" class="cover">
      </a>
      <audio controls>
        <source src="/static/audio/Our_Future_Club.mp3">
      </audio>
      <br>
      <div class="buttons">
        <button class="btn" onclick="location.href='https://soundcloud.com/yoshiboi_music/our-future-club'"><img src="/static/img/soundcloud.png" alt="SoundCloud Logo" class="sc-logo"><h5>SoundCloud</h5></button>
      </div>
    </div>
    <br>
    <div class="song">
      <h2 class="song-name">The Wuberena</h2>
      <a href="https://cdn.yoshiboi18303.tk/Wuberena.png" target="_blank" rel="noreferrer">
        <img src="/static/img/covers/Wuberena.png" alt="The Wuberena cover art" class="cover">
      </a>
      <audio controls>
        <source src="/static/audio/Wuberena.mp3">
      </audio>
      <br>
      <div class="buttons">
        <button class="btn" onclick="location.href='https://soundcloud.com/yoshiboi_music/wuberena'"><img src="/static/img/soundcloud.png" alt="SoundCloud Logo" class="sc-logo"><h5>SoundCloud</h5></button>
      </div>
    </div>
    <br>
    <div class="song">
      <h2 class="song-name">Updrumming And Bassing</h2>
      <img src="/static/img/covers/Updrumming_And_Bassing.png" alt="Updrumming And Bassing cover art" class="cover">
      <audio controls>
        <source src="/static/audio/Updrumming_And_Bassing.mp3">
      </audio>
      <br>
      <div class="buttons">
        <button class="btn" onclick="location.href='https://soundcloud.com/yoshiboi_music/updrumming-and-bassing'"><img src="/static/img/soundcloud.png" alt="SoundCloud Logo" class="sc-logo"><h5>SoundCloud</h5></button>
      </div>
    </div>
    <br>
    <div class="song">
      <h2 class="song-name">Brumming And Boassing</h2>
      <img src="/static/img/covers/Brumming_And_Boassing.png" alt="Brumming And Boassing cover art" class="cover">
      <audio controls>
        <source src="/static/audio/Brumming_And_Boassing.mp3">
      </audio>
      <br>
      <div class="buttons">
        <button class="btn" onclick="location.href='https://soundcloud.com/yoshiboi_music/brumming-and-boassing'"><img src="/static/img/soundcloud.png" alt="SoundCloud Logo" class="sc-logo"><h5>SoundCloud</h5></button>
      </div>
    </div>
    <br>
    <div class="song">
      <h2 class="song-name">The Subsonic DnB Experiment</h2>
      <img src="/static/img/covers/The_Subsonic_DnB_Experiment.png" alt="The Subsonic DnB Experiment cover art" class="cover">
      <audio controls>
        <source src="/static/audio/The_Subsonic_DnB_Experiment.mp3">
      </audio>
      <br>
      <div class="buttons">
        <button class="btn" onclick="location.href='https://soundcloud.com/yoshiboi_music/the-subsonic-dnb-experiment'"><img src="/static/img/soundcloud.png" alt="SoundCloud Logo" class="sc-logo"><h5>SoundCloud</h5></button>
      </div>
    </div>
    <br>
    <div class="song">
      <h2 class="song-name">Wobble Road</h2>
      <img src="/static/img/covers/Wobble_Road.png" alt="Wobble Road cover art" class="cover">
      <audio controls>
        <source src="/static/audio/Wobble_Road.mp3">
      </audio>
      <br>
      <div class="buttons">
        <button class="btn" onclick="location.href='https://soundcloud.com/yoshiboi_music/wobble-road'"><img src="/static/img/soundcloud.png" alt="SoundCloud Logo" class="sc-logo"><h5>SoundCloud</h5></button>
        <button class="btn" onclick="location.href='https://open.spotify.com/album/5zjeE1fiVmXRRtwTkSGkXZ?si=yqM57erpQ8y3_35nwsg8Dg'"><img src="/static/img/spotify.png" alt="Spotify Logo" class="spotify-logo"><h5>Spotify</h5></button>
      </div>
    </div>
    <br>
    <div class="song">
      <h2 class="song-name">Toxins</h2>
      <img src="/static/img/covers/Toxins.png" alt="Toxins cover art" class="cover">
      <audio controls>
        <source src="/static/audio/Toxins.mp3">
      </audio>
      <br>
      <div class="buttons">
        <button class="btn" onclick="location.href='https://soundcloud.com/yoshiboi_music/toxins'"><img src="/static/img/soundcloud.png" alt="SoundCloud Logo" class="sc-logo"><h5>SoundCloud</h5></button>
        <button class="btn" onclick="location.href='https://open.spotify.com/album/5zjeE1fiVmXRRtwTkSGkXZ'"><img src="/static/img/spotify.png" alt="Spotify Logo" class="spotify-logo"><h5>Spotify</h5></button>
      </div>
    </div>
    <br>
    <div class="song">
      <h2 class="song-name">Extreme Pressure</h2>
      <audio controls>
        <source src="/static/audio/Extreme_Pressure.mp3">
      </audio>
    </div>
    <br>
    <div class="song">
      <h2 class="song-name">Hard Hitter</h2>
      <audio controls>
        <source src="/static/audio/Hard_Hitter.mp3">
      </audio>
    </div>
    <br>
    <div class="song">
      <h2 class="song-name">Powering Through</h2>
      <audio controls>
        <source src="/static/audio/Powering_Through.mp3">
      </audio>
    </div>
  </div>
</body>
</html>