<html lang="en">
<head>
  <%- include("includes/head", { title: "Music" }) %>
</head>
<body style="background-image: url('images/background.png'); background-repeat: no-repeat; background-size: 125%; background-color: #55a02d">
  <%- include("includes/header", { req }) %>
  <br>
  <img src="/static/img/icon.png" alt="Yoshiboi18303's Avatar" class="avatar">
  <h1>Yoshiboi18303's Music!</h1>
  <h3 class="description">Here are all the songs that Yoshiboi18303 has made!</h3>
  <br>
  <div class="audio-view">
    <div class="song">
      <h2 class="song-name">Our Future Club</h2>
      <a href="https://cdn.yoshiboi18303.tk/OFC.png" target="_blank" rel="noreferrer">
        <img src="/static/img/covers/OFC.png" alt="Our Future Club cover art" class="cover">
      </a>
      <audio controls>
        <source src="/static/audio/Our_Future_Club.mp3">
      </audio>
    </div>
    <br>
    <div class="song">
      <h2 class="song-name">The Wuberena</h2>
      <a href="https://cdn.yoshiboi18303.tk/Wuberena.png" target="_blank" rel="noreferrer">
        <img src="/static/img/covers/Wuberena.png" alt="The Wuberena cover art" class="cover">
      </a>
      <audio controls>
        <source src="/static/audio/Wuberena.mp3">
      </audio>
    </div>
    <br>
    <div class="song">
      <h2 class="song-name">Updrumming And Bassing</h2>
      <img src="/static/img/covers/Updrumming_And_Bassing.png" alt="Updrumming And Bassing cover art" class="cover">
      <audio controls>
        <source src="/static/audio/Updrumming_And_Bassing.mp3">
      </audio>
    </div>
    <br>
    <div class="song">
      <h2 class="song-name">Brumming And Boassing</h2>
      <img src="/static/img/covers/Brumming_And_Boassing.png" alt="Brumming And Boassing cover art" class="cover">
      <audio controls>
        <source src="/static/audio/Brumming_And_Boassing.mp3">
      </audio>
    </div>
    <br>
    <div class="song">
      <h2 class="song-name">The Subsonic DnB Experiment</h2>
      <img src="/static/img/covers/The_Subsonic_DnB_Experiment.png" alt="The Subsonic DnB Experiment cover art" class="cover">
      <audio controls>
        <source src="/static/audio/The_Subsonic_DnB_Experiment.mp3">
      </audio>
    </div>
    <br>
    <div class="song">
      <h2 class="song-name">Extreme Pressure</h2>
      <audio controls>
        <source src="/static/audio/Extreme_Pressure.mp3">
      </audio>
    </div>
    <br>
    <div class="song">
      <h2 class="song-name">Hard Hitter</h2>
      <audio controls>
        <source src="/static/audio/Hard_Hitter.mp3">
      </audio>
    </div>
    <br>
    <div class="song">
      <h2 class="song-name">Powering Through</h2>
      <audio controls>
        <source src="/static/audio/Powering_Through.mp3">
      </audio>
    </div>
  </div>
</body>
</html>