<html lang="en-US">
  <head>
    <%- include("includes/head", { title: "System Offline" }) %>
  </head>
  <body>
    <p style="color: black; text-align: left;">This system is temporarily offline due to the following reason: <%= reason %></p>
  </body>
</html>