<html lang="en-US">
  <head>
    <%- include("includes/head", { title: "Suggestion Sent" }) %>
  </head>
  <body style="background-color: #55a02d;">
    <img src="/static/img/icon.png" alt="Yoshiboi18303's Avatar" class="avatar">
    <br>
    <h1>Suggestion Sent!</h1>
    <h3 class="description">Your suggestion was sent to Yoshiboi18303!</h3>
    <br>
    <%- include("includes/footer") %>
  </body>
</html>