<html lang="en-US">
  <head>
    <%- include("includes/head", { title: "Suggestion Rules" }) %>
  </head>
  <body style="background-color: #55a02d;">
    <img src="/static/img/icon.png" alt="Yoshiboi18303's Avatar" class="avatar">
    <br>
    <h1>Suggestion Rules</h1>
    <h3 class="description">These are the rules you abide by when you submit a suggestion to Yoshiboi18303!</h3>
    <br>
    <div class="rules-view">
      <h2>1. You agree that your suggestion does <b class="red">NOT</b> include any NSFW content.</h2>
      <br>
      <h2>2. You agree that you are sending an actual suggestion to Yoshiboi18303, not anything like: "I like your bot" or "Your bot sucks."<br>Compliments and Criticism are appreciated, but not a suggestion.</h2>
      <br>
      <h3 class="red" style="font-family: 'Radio Canada', sans-serif;">Failure to abide by these rules may result in you being <b>BLACKLISTED</b> from making suggestions!</h3>
      <br>
      <p class="back-to-suggest">Ready to send a suggestion?<br>Click <a href="/suggest" rel="noreferrer">this</a> to go back to the suggest page!</p>
    </div>
  </body>
</html>